h1 {
    font-size: 40px;
    margin-bottom: 2px;
}

#title{
    flex-direction: column;
    text-align: center;
    color: #36454F;
    padding-bottom: 4px;
}

#button {
    padding-bottom: 4px;
}

.workspace{
    border: grey;
    border-size: 2px;
    border-style:solid;
    border-color:grey;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    text-align: left;
    background-image: url("../Cork-Board-Wall-Models.jpg");
    height: 100vh;
}

span {
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

.note {
    border-style: solid;
    border-color: grey;
    border-width: thin;
    font-family: monospace;   
}
    
span.note{
    width: 100px;
    height: 200px;
    padding-right: 100px;
    padding-left: 5px;
    display: inline-flex;
    background-color: #FFF8DC;
}

