h1 {
    font-size: 40px;
    margin-bottom: 2px;
    font: 400 40px/0.8 'Cookie', Helvetica, sans-serif;
    color: #483e3e;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

#title{
    flex-direction: column;
    text-align: center;
    color: #36454F;
    padding-bottom: 4px;
}

#button {
    padding-bottom: 4px;
    color: #291616;
    background: #fff000;
}

.workspace{
    border: grey;
    border-size: 2px;
    border-style:solid;
    border-color:grey;
    padding-left: 2px;
    padding-right: 2px;
    text-align: left;
    background-image: url("../Cork-Board-Wall-Models.jpg");
    height: 100vh;
}

.note {
    border-style: solid;
    border-color: grey;
    border-width: thin;
    height: 200px;
    width: 200px;
    padding-left: 5px;
    padding-top: 5px;
    display: inline-flex;
    background-color: #FFF8DC;
}
    
.note p {
    margin: 0px;
    width: 200px;
    font-family: monospace;
    font: 300 13px/1.2 'Merienda One', Helvetica, sans-serif;
    color: rgba(0,0,0,0.7);
    text-shadow: 3px 3px 3px #fff;
}

#pin {
    text-align: right;
    width: 35px;
    height: 30px;
}
